html, body {
  width: 100%;
  height: 100%;
  font-family: 'Poiret One', sans-serif;
}

.navbar {
	background-color: #A3D895;
	opacity: 0.8;
}

header {
	padding-top: 80px;
	min-height: 100%;
}

h1 {
	font-size: 4rem;
}

hr {
	margin: 40px auto;
 	color: #A3D895;
  	border: 3px solid #A3D895;
  	max-width: 175px;
  	opacity: 1; 
}

.subheading-list-title {
	font-size: 2rem;
	margin: 50px;
}

.matchagood {
	font-size: 1.5rem;
}

img {
	border-radius: 80px;
	margin-bottom: 20px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);

}

/*section {*/
/*	font-size: 1.2rem;*/
/*	text-align: center;*/
/*}*/

.matchabrownies {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

.coffeequote {
	list-style: none;
}

.testimonialquote {
	font-size: 2rem;
}

.testimonialquote2 {
	text-align: center;
}

.subscribe-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn {
  font-weight: 600;
  border-radius: 300px;
  text-transform: uppercase;
  padding: 2rem 4rem;
}

.btn-success {
  background-color: #A3D895;
  border-color: #A3D895;
}

.btn-success:hover {
  background-color: #A3D895;
  border-color: #F05F44;
}
